
/* Your CSS Code here. */
.holder{
	width:200px;
	background-color:grey;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	Justify-content:space-between;
}
.items{
	width:40px;
	height:40px;
	background-color:orange;
}